/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-oct-2020, 16:54:46
    Author     : jorge
*/

html body h1{
    text-align: center;
}

html body table{
    width: 45%;
    margin: 10px auto;
    border: 2px solid;
    /*border-collapse: collapse;*/
}

table thead{
    margin-bottom: 10px;
}

table thead tr th{
   border: 2px solid;
   padding-top: 35px;
   padding-bottom: 35px;
   margin-bottom: 10px;
   background-color: red;
}

table tbody td{
    border: 2px solid;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 55px!important;    
}

table tbody td .imagen-ficha{
    padding: 4px;
}

.cambioColor{
    background-color: red!important;
}

html body .contenedor-principal .card-java{
    padding: 10px 30px;
    
}

.pares{
    background-color: #AA8E39;
}

.nones{
    background-color: #E7E7B7;
}

table tbody tr td .btnEnviar{
    display: none;
}

.contenedor-principal{
    flex-direction: row-reverse;
}

.contenedor-principal .contenido-left,
.contenedor-principal .contenido-rigth{
    width: 50%;
}

.contenido-rigth table th, td{
    word-wrap: break-word;
}

.contenido-rigth table{
    table-layout: fixed;
}

.contenido-left .card-java{
    display: flex;    
}

.contenido-left .card-java .card{
    margin: 10px;
}

.contenedor-principal .contenido-left .card-java,
.contenedor-principal .contenido-rigth .card-java{
    width: 100%;
}

.mover{
    background-color: #90E0EF;
}

#btnGame{
    width: 50%;
    margin: auto;
    height: 75px;
}